@import "globals";
nav.menu {
  background-color: black;
  position: fixed;
  bottom: 0;
  left: 0;
  width: calc(100% - 1em);
  font-size: 4em;
  padding: .5em;
  display: flex;
  justify-content: space-around;

  a {
    color: $snow-white;
  }
}

div.goal-progress {

  width: 95%;
  margin: 0 2.5%;
  font-size: 2em;
  position: absolute;
  bottom: 5em;
  display: flex;
  font-family: verdana;
  justify-content: space-between;
  text-shadow: 2px 2px 10px $snow-white;

  progress {
    flex-basis: 66%;
    background-color: black;
    height: .5em;
    position: relative;
    top: 17px;
  }

  input {
    background: none;
    border: none;
    position: relative;
    width: 2em;
    font-size: 1em;
    padding: 0;
    left: 9px;
    outline: none;
    text-shadow: 2px 2px 10px $snow-white;
  }

  button {

    font-size: .75em;
    padding: .25em;
    background-color: green;
    color: white;

    &:disabled {
      background-color: lightgrey;
      color: #bababa;
    }

  }

}

progress::-webkit-progress-bar {
  background-color: black;
}

progress::-webkit-progress-value {
  background-color: #8a2a2d;
}

@-moz-document url-prefix() {
  progress {
    display: none;
  }
}

div.ski-day-count {
  display: flex;
  flex-wrap: wrap;
  font-size: 3em;
  height: calc(100% - 3em);

  > div {
    display: flex;
    justify-content: center;
    align-items: center;

    &.total-days {
      flex-basis: 100%;
      font-size: 2em;

      span, svg {
        height: 200px;
      }
    }

    &:not(.total-days) {
      flex-basis: 50%;
    }

    span, svg {
      background-color: white;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;

      &:first-child {
        border-radius: 25px 0 0 25px;
        padding-left: 15px;
      }

      &:last-child {
        border-radius: 0 25px 25px 0;
        font-size: .5em;
        padding-right: 15px;
      }

    }

  }


}

div.ski-day-list {

  height: calc(100% - 13em);
  overflow-y: scroll;

  table {
    caption {
      background-color: white;
      background-color: rgba(255,255,255, .9);
      color: #8f2e32;
    }
    width: 100%;
    background-color: rgba(255,255,255, .9);
    font-family: verdana, sans-serif;
    font-size: 1.5em;
    text-align: center;

    td {
      padding: .2em;
    }

    a {
      margin: 15px;
    }
  }
}

div.show-errors {

  width: 100%;

  div {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 0;
    background-color: red;
    color: white;
    font-family: verdana, sans-serif;
    display: flex;
    justify-content: space-between;

    svg {
      font-size: 2em;
      position: relative;
      top: 9px;
      right: 9px;
    }
  }
}

form.add-day {
  font-family: Verdana, sans-serif;
  width: 70%;
  margin-left: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  height: calc(100% - 12em);

  >label,
  div {
    margin: 1em 0;

  }

  label {
    font-size: 1.5em;
    text-shadow: 3px 3px 10px $snow-white;
    height: 10px;
    font-weight: bold;
  }

  input[type="text"],
  input[type="date"] {
    font-size: 1.5em;
    padding: .25em;
    border-radius: .2em;
    outline: none;
    min-height: 36px;
  }

  input[type="checkbox"] {
    transform: scale(2);
    margin: 0;
    padding: 0;
    margin-right: 2em;
  }

  div>label {
    position: relative;
    top: 2px;
  }

  .autocomplete {
    position: relative;
    input {
      width: calc(100% - .75em);
    }

    span {
      position: absolute;
      top: 5px;
      right: 10px;
      font-size: 2em;
    }

    .suggestions {
      position: absolute;
      top: 2em;
      left: 0;
      width: auto;
      height: auto;
      max-height: 200px;
      background-color: white;
      overflow-y: scroll;
      z-index: 3;



      p {
        padding: 1em;
        margin: 0;

        &:hover {
          background-color: yellow;
        }
      }

      &:empty {
        display: none;
      }
    }
  }

  button {
    margin: auto;
    width: 100%;
    font-size: 2em;
    background-color: #8a2a2d;
    font-weight: bold;
    color: $snow-white;
    padding: 5px;
  }

}